body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pallateflex{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.pallatecontainer{
  width: 25%;

}
.singlepallatecolor{
  width: 100%;
  height: 80vh;
}
.saved{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.savedcolors{
  width: 50%;
  margin: auto;
}
.singlecolor{
  width: 80%;
  height:3rem;
  margin: 1rem;
}
@media only screen and (max-width: 750px) {
  
  .pallateflex{
    display: flex;
    
    flex-direction: column;

  }
  .pallatecontainer{
    width: 100%;
  }
  .singlepallatecolor{
    height: 30vh;
    width: 100%;
  }
  .saved{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .savedcolors{
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .singlecolor{
    width: "5rem";
    height: "5rem";

  }
}

